@use "../../../components/mixins";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

// Variables
$btn-size: 60px;

.articleNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f9f9f9;
  height: 70px;
  width: 100%;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.articleNavToggle {
  width: 35px;
  height: 35px;
  pointer-events: none;
}

.navButton {
  position: fixed;
  top: 40px;
  left: 50px;
  background: rgb(223, 223, 223);
  width: $btn-size;
  height: $btn-size;
  border-radius: 50%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.light-glass-bg;

  @media screen and (max-width: 1290px) {
    left: 10px;
    bottom: 10px;
  }
}

.navButtonIcon {
  width: $btn-size - 40px;
  height: $btn-size - 40px;
}

.heading {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.backButton {
  position: fixed;
  top: 40px;
  left: 50px;
  background: rgb(223, 223, 223);
  width: $btn-size;
  height: $btn-size;
  border-radius: 50%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.light-glass-bg;

  @media screen and (max-width: 1290px) {
    left: 10px;
    bottom: 10px;
  }
}

.backButtonIcon {
  width: $btn-size - 40px;
  height: $btn-size - 40px;
  pointer-events: none;
}

.detail {
  & > h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
  }

  & > h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-top: 1em;
    font-size: 2rem;
  }

  & > h3 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
  }

  & > ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: inside;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}
