
@use "../../../styles/mixins";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8.5rem 25rem 10rem;
  min-height: 100vh;
}


// Variables
$btn-size: 60px;

.updateStatus {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1290px) {
    margin-left: 60px;
    margin-bottom: 15px;
  }
}

.updatedNew {
  width: 50px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 2px;
}

.heading {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1em;
  width: 100%;
}

.backButton {
  position: fixed;
  top: 40px;
  left: 50px;
  background: rgb(223, 223, 223);
  width: $btn-size;
  height: $btn-size;
  border-radius: 50%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.light-glass-bg;

  @media screen and (max-width: 1290px) {
    left: 10px;
    bottom: 10px;
  }

  @media screen and (max-width: 480px) {
    width: $btn-size - 15px;
    height: $btn-size - 15px;
  }
}

.backButtonIcon {
  width: $btn-size - 40px;
  height: $btn-size - 40px;
  pointer-events: none;

  @media screen and (max-width: 480px) {
    width: $btn-size - 40px;
    height: $btn-size - 40px;
  }
}

.detail {
  & > h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
  }

  & > h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-top: 1em;
    font-size: 2rem;
  }

  & > h3 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
  }

  & > ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: inside;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  & > figure {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit:contain;
    }
  }
}