@use "../styles/mixins";

$brandFontSize: 1.5em;
$linkSize: 40px;
$linkMargin: 15px;

.navPill {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  @include mixins.light-glass-bg;
  border-radius: 50px;
  padding: 20px 40px;
  z-index: 1000;
  min-width: 900px;
  height: 75px;
  border: 1px solid rgb(229, 229, 229);
  transition: all 0.3s ease-in-out;

  &.sticky {
    top: 0;
    border-radius: 0;
    width: 100%;
    min-width: 100%;
    padding: 10px 20px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(82, 82, 82, 0.1);
  }

  @media screen and (max-width: 480px) {
    width: 90%;
    min-width: 100px;
  }
}

.brand {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 30px;
  transition: font-size 0.3s ease-in-out;

  .sticky & {
    font-size: 1.2em;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.2em;
    margin-right: 20px;
  }
}

.links {
  display: flex;
}

.link {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;

  .sticky & {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }

  @media screen and (max-width: 480px) {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}

.link:hover {
  background-color: #aaa;
}

.backNavigation {
  width: 70px;
  height: 45px;
  border-radius: calc(45px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.dark-glass-bg;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;

  .sticky & {
    width: 60px;
    height: 35px;
  }
}
