@use "../styles/mixins";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8.5rem 6rem 6rem;
  min-height: 100vh;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  @media screen and (max-width: 1350px) {
    padding: 8.5rem 4rem 4rem;
  }

  @media screen and (max-width: 1100px) {
    padding: 8.5rem 2rem 2rem;
  }

  @media screen and (max-width: 850px) {
    padding: 8.5rem 1rem 1rem;
  }
}

.container {
  padding: 8.5rem 6rem 6rem;
  background: gray;
}

.headCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: #fff;
  @include mixins.light-glass-bg;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 350px;

  .title,
  .description {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 0.9rem;
    color: #888888;
  }
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 15px;
  width: 100%;
  height: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  vertical-align: middle;

  .boldTypo {
    font-size: 10rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#ff84a7, #ff3b3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#ff84a7, #ff3b3b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .boldTypoBottom {
    font-size: 9rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#ff3b3b, #ff84a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#ff3b3b, #ff84a7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .sentence1 {
    font-size: 5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#3b4fff, #c037ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#3b4fff, #c037ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    padding-top: 30px;
  }

  @media screen and (max-width: 1395px) {
    .boldTypo { font-size: 8rem; }
    .boldTypoBottom { font-size: 7rem; }
  }

  @media screen and (max-width: 1100px) {
    padding: 10px;
    .boldTypo { font-size: 6rem; }
    .boldTypoBottom { font-size: 5rem; }
  }

  @media screen and (max-width: 850px) {
    .boldTypo { font-size: 4rem; }
    .boldTypoBottom { font-size: 3rem; }
  }
}
