/* Footer.module.scss */
.footerArea {
    margin: 0;
    margin-bottom: env(safe-area-inset-bottom);
  }
  
  .footerLink {
    text-decoration: none;
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
  
  .copyrightText {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 1em;
    margin-bottom: 1em;
    
    @media screen and (max-width: 480px) {
      font-size: 0.6rem;
    }
  }
  