.container {
  margin: 0 10em;

  @media screen and (max-width: 1500px) {
    margin: 0 5em;
  }

  @media screen and (max-width: 1150px) {
    margin: 0 2em;
  }

  @media screen and (max-width: 600px) {
    margin: 0 1em;
  }
}

.articleContainer {
  margin: 0 auto;
  max-width: 920px;
  margin-top: 40px;

  @media screen and (max-width: 1290px) {
    margin-top: 120px;
  }
  @media screen and (max-width: 900px) {
    margin: 20px 20px;
  }
}
