.container {
    margin: 0 10em;

    @media screen and (max-width: 1500px) {
        margin: 0 5em;
    }

    @media screen and (max-width: 1150px) {
        margin: 0 2em;
    }

    @media screen and (max-width: 600px) {
        margin: 0 1em;
    }
}
