.modalCloseButton {
  // your styles here...
  background: rgb(174, 174, 174);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalText {
  // your styles here...
}

.shText {
  // your styles here...
}

.modalIconObjElm {
  // your styles here...
  pointer-events: none;
}
