@use "../components/mixins.scss";

.profileCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 30px;
  padding: 2em;

  @include mixins.light-glass-bg;
}

.profileName {
  font-weight: bold;
  font-size: 2rem;
}

.profileImage {
  border-radius: 50%;
  height: 50%;
  max-height: 200px;
}
