@use "../components/mixins.scss";

// Variables
$btn-size: 60px;
$padding-left-lg: 10em;
$padding-left-md: 5em;
$padding-left-sm: 2em;
$padding-left-xs: 1em;

.workContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}

.workCards {
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  min-height: 440px;
  padding: 25px 0;
  &::-webkit-scrollbar {
    display: none;
  }

  padding-left: $padding-left-lg;

  @media screen and (max-width: 1500px) {
    padding-left: $padding-left-md;
  }

  @media screen and (max-width: 1150px) {
    padding-left: $padding-left-sm;
  }

  @media screen and (max-width: 600px) {
    padding-left: $padding-left-xs;
  }
}

.workCard {
  display: flex;
  justify-content: space-around;
  min-width: 340px;
  max-width: 340px;
  min-height: 420px;
  border-radius: 20px;
  padding: 2em 1.2em;
  margin-right: 20px;

  @include mixins.light-glass-bg;
}

.profileName {
  font: {
    weight: bold;
    size: 2rem;
  }
}

.profileImage {
  border-radius: 50%;
  height: 50%;
  max-height: 200px;
}

.profileButton {
  background: rgb(223, 223, 223);
  content: "→";
  width: $btn-size;
  height: $btn-size;
  border-radius: 50%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButtonIcon {
  width: $btn-size - 40px;
  height: $btn-size - 40px;
  pointer-events: none;
}
